@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

@layer components {
  .btn--cyan {
    @apply bg-[#2acfcf] hover:bg-[#2acfcfa9] py-2 px-5 transition-colors ease-in-out rounded-full text-white font-semibold;
  }
  .btn--transparent-bg {
    @apply hover:text-[#9e9aa7] ease-in-out transition-colors font-semibold text-[#232127];
  }
  .navbar__list__element {
    @apply text-[#9e9aa7] font-bold hover:text-[#232127] ease-in-out transition-colors;
  }
  .shorten-result {
    @apply bg-white w-full min-h-[60px] mx-auto rounded-lg flex justify-between items-center px-7;
  }
  .footer__col {
    @apply flex flex-col gap-5;
  }
  .footer__col__header {
    @apply text-white;
  }
  .footer__col__list {
    @apply flex flex-col gap-2;
  }
  .footer__col__link a {
    @apply text-[#bfbfbf] hover:text-[#2acfcf] transition-colors ease-in-out duration-300;
  }
}

@media (max-width: 991px) {
  .nav-collapse {
    @apply fixed left-0 right-0 overflow-hidden transition-all ease-in-out duration-300 top-20 h-0 p-0 flex-col bg-[#3b3054] z-[1000] rounded-xl container-m;
  }
  .nav-collapse.active {
    @apply h-[50vh] py-5;
  }
  .nav-collapse nav {
    @apply w-full;
  }
  .nav-collapse ul {
    @apply flex-col relative;
  }
  .nav-collapse ul::after {
    content: "";
    @apply absolute -bottom-5 left-10 right-10 bg-[#9e9aa7] h-[2px];
  }
  .nav-collapse ul li {
    @apply text-center relative;
  }
  .nav-collapse ul li a {
    @apply text-white;
  }
  .nav-collapse .auth__buttons {
    @apply flex-col;
  }

  .nav-collapse .auth__buttons button.btn--transparent-bg {
    @apply text-white;
  }
}

.container-p {
  @apply px-28;
}

.container-m {
  @apply mx-28;
}

.container-inline {
  @apply right-28 left-28;
}

@media (max-width: 736px) {
  .container-inline {
    @apply right-14 left-14;
  }
  .container-p {
    @apply px-14;
  }
  .container-m {
    @apply mx-14;
  }
}
